@model WebCore.Models.Blogs.BlogViewModel
<section id="main-content" class="main-content-area">
    <div class="container">
        <div class="row">
            <div class="content-area">
                <div class="row">
                    <!-- START BLOG CONTENT DESIGN AREA -->
                    <div class="col-md-8">
                        <!-- START POST DESIGN AREA -->
                        <div class="col-md-12">
                            <div class="single-blog-content blog-post-details">
                                <div class="single-post-titel text-center">
                                    <h3><a href="single-blog.html">This is a post title given here</a></h3>
                                    <h4><a href="#">Recipes</a> / Admin</h4>
                                </div>
                                <div class="blog-post-image">
                                    <figure>
                                        <img src="/blogasset/images/blog/blog-details.jpg" height="450" alt="Post">
                                    </figure>
                                </div>

                                <div class="post-meta-block single-blog-meta">
                                    <div class="post-meta-area">
                                        <div class="post-user"><i class="fa fa-user-secret"></i> <a href="#" title="">Admin</a></div>
                                        <div class="post-date"><a href="#"><i class="fa fa-calendar"></i> April 12, 2017 </a></div>
                                        <div class="post-comment"><a href="#"><i class="fa fa-comment"></i> 2</a></div>
                                    </div>
                                </div>

                                <div class="blog-post-content text-center">
                                    <!-- START POST TEXT CONTENT AREA -->
                                    <p>@Model.BlogDto.Content</p>
                                    
                                    <!-- / END POST TEXT CONTENT AREA -->
                                </div>
                                <div class="blog-social-sharing-area">
                                    <div class="social-sharing-icon text-center">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- START POST PAGINATION -->
                            <div class="post-pagination-wrap">
                                <div class="post-pagination pagination-prev">
                                    <a href="#">
                                        <span><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Previous Post</span>
                                    </a>
                                </div>
                                <div class="post-pagination pagination-next">
                                    <a href="#">
                                        <span>Next Post <i class="fa fa-caret-square-o-right" aria-hidden="true"></i></span>
                                    </a>
                                </div>
                            </div>
                            <!-- / END POST PAGINATION AREA -->
                        </div>
                        <!-- / END POST DESIGN AREA -->
                        <!-- START RELATED POST DESIGN AREA -->
                        <div class="col-md-12 related-post-content-area">
                            <div class="related-post-content-body">
                                <div class="related-section-title text-center">
                                    <h2>Related posts</h2>
                                </div>

                                <div class="col-md-12">
                                    <div class="single-related-post-area">
                                        <!-- START SINGLE RELATED POST -->
                                        <div class="col-sm-4 single-related-post">
                                            <div class="related-post-item text-center">
                                                <div class="related-post-item-img">
                                                    <a href="#"><img src="/blogasset/images/related-post/1.jpg" alt="related post image"></a>
                                                </div>
                                                <h4><a href="#">Lorem Ipsum is simply demo</a></h4>
                                                <span><i class="fa fa-calendar"></i> 14 April, 2017  | <i class="fa fa-comment"></i>2</span>
                                            </div>
                                        </div>
                                        <!-- / END SINGLE RELATED POST -->
                                        <!-- START SINGLE RELATED POST -->
                                        <div class="col-sm-4 single-related-post">
                                            <div class="related-post-item text-center">
                                                <div class="related-post-item-img">
                                                    <a href="#"><img src="/blogasset/images/related-post/2.jpg" alt="related post image"></a>
                                                </div>
                                                <h4><a href="#">Lorem Ipsum is simply demo</a></h4>
                                                <span><i class="fa fa-calendar"></i> 13 April, 2017  | <i class="fa fa-comment"></i>2</span>
                                            </div>
                                        </div>
                                        <!-- / END SINGLE RELATED POST -->
                                        <!-- START SINGLE RELATED POST -->
                                        <div class="col-sm-4 single-related-post">
                                            <div class="related-post-item text-center">
                                                <div class="related-post-item-img">
                                                    <a href="#"><img src="/blogasset/images/related-post/3.jpg" alt="related post image"></a>
                                                </div>
                                                <h4><a href="#">Lorem Ipsum is simply demo</a></h4>
                                                <span><i class="fa fa-calendar"></i> 12 April, 2017  | <i class="fa fa-comment"></i>2</span>
                                            </div>
                                        </div>
                                        <!-- / END SINGLE RELATED POST -->
                                        <!-- START SINGLE RELATED POST -->
                                        <div class="col-sm-4 single-related-post">
                                            <div class="related-post-item text-center">
                                                <div class="related-post-item-img">
                                                    <a href="#"><img src="/blogasset/images/related-post/4.jpg" alt="related post image"></a>
                                                </div>
                                                <h4><a href="#">Lorem Ipsum is simply demo</a></h4>
                                                <span><i class="fa fa-calendar"></i> 10 April, 2017  | <i class="fa fa-comment"></i>2</span>
                                            </div>
                                        </div>
                                        <!-- / END SINGLE RELATED POST -->
                                        <!-- START SINGLE RELATED POST -->
                                        <div class="col-sm-4 single-related-post">
                                            <div class="related-post-item text-center">
                                                <div class="related-post-item-img">
                                                    <a href="#"><img src="/blogasset/images/related-post/5.jpg" alt="related post image"></a>
                                                </div>
                                                <h4><a href="#">Lorem Ipsum is simply demo</a></h4>
                                                <span><i class="fa fa-calendar"></i> 10 April, 2017  | <i class="fa fa-comment"></i>2</span>
                                            </div>
                                        </div>
                                        <!-- / END SINGLE RELATED POST -->
                                        <!-- START SINGLE RELATED POST -->
                                        <div class="col-sm-4 single-related-post">
                                            <div class="related-post-item text-center">
                                                <div class="related-post-item-img">
                                                    <a href="#"><img src="/blogasset/images/related-post/6.jpg" alt="related post image"></a>
                                                </div>
                                                <h4><a href="#">Lorem Ipsum is simply demo</a></h4>
                                                <span><i class="fa fa-calendar"></i> 10 April, 2017  | <i class="fa fa-comment"></i>2</span>
                                            </div>
                                        </div>
                                        <!-- / END SINGLE RELATED POST -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / END RELATED POST DESIGN AREA -->
                        <!-- START COMMENT DESIGN AREA -->
                        <div class="comment-section wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" data-wow-offset="0">
                            <h4>Recent comments</h4>
                            <div class="single-comment">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <div class="comment-author-img">
                                            <img src="/blogasset/images/comments/1.jpg" alt="" class="img-circle">
                                        </div>
                                        <h6 class="text-muted text-center">Jason Doe</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="post-meta pull-left flip">
                                            <ul class="meta-lists">
                                                <li><b><i class="fa fa fa-clock-o"></i> 10:30 AM | </b></li>
                                            </ul>
                                        </div>
                                        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed augue nulla. Maecenas sit amet ligula est. Fusce fringilla sollicitudin enim in varius. Praesent nisi neque, condimentum sit amet lacus in.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-comment">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <div class="comment-author-img">
                                            <img src="/blogasset/images/comments/2.jpg" alt="" class="img-circle">
                                        </div>
                                        <h6 class="text-muted text-center">Sarana</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="post-meta pull-left flip">
                                            <ul class="meta-lists">
                                                <li><b><i class="fa fa fa-clock-o"></i> 09:30 AM | </b></li>
                                            </ul>
                                        </div>
                                        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed augue nulla. Maecenas sit amet ligula est. Fusce fringilla sollicitudin enim in varius. Praesent nisi neque, condimentum sit amet lacus in.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / END COMMENT DESIGN AREA -->
                        <!-- START COMMENT FORM DESIGN AREA -->
                        <div class="contact-form blog-contact-form wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" data-wow-offset="0">
                            <h3 class="comment-title">Give your comment Here</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-form">
                                        <div class="row">
                                            <form action="http://demo.dueza.com/gossip-html/gossip/black-color//blogasset/php/contact.php" method="post">
                                                <div class="form-group col-md-6">
                                                    <p>Name</p>
                                                    <input type="text" name="name" class="form-control" id="first-name" required="required">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <p>email</p>
                                                    <input type="email" name="email" class="form-control" id="email" required="required">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <p>website</p>
                                                    <input type="text" name="subject" class="form-control" id="subject" required="required">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <p>message</p>
                                                    <textarea rows="6" name="message" class="form-control" id="description" required="required"></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <button>add comment</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / END COMMENT FORM DESIGN AREA -->
                    </div>
                    <!-- / END BLOG CONTENT DESIGN AREA -->
                    <!-- START SIDEBAR DESIGN AREA -->
                    <div class="col-md-4 wow fadeInUp sidebar-area" data-wow-duration="2s" data-wow-delay="0.1s" data-wow-offset="0">
                        <div class="sidebar">
                            <!-- START SEARCH BOX DESIGN AREA -->
                            <div class="search single-sidebar">
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                            <!-- / END SEARCH BOX DESIGN AREA -->
                            <!-- START ABOUT ME DESIGN AREA -->
                            <div class="right-sidebar sidebar-about-me-area text-center">
                                <div class="sidebar-about-me-area-content">
                                    <div class="widget-title">
                                        <h4>ABOUT ME</h4>
                                    </div>
                                    <div class="widget-about-thumb">
                                        <figure>
                                            <a href="#"><img src="/blogasset/images/about/about.jpg" alt="img" class="img-responsive"></a>
                                        </figure>
                                    </div>
                                    <div class="widget-about-content">
                                        <h4><a href="about.html">Scott Stainly</a></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <a href="about.html" class="read-more">read more</a>
                                    </div>
                                </div>
                            </div>
                            <!-- / END ABOUT ME DESIGN AREA -->
                            <!-- START RECENT POSTS DESIGN AREA -->
                            <div class="right-sidebar recent-post-area">
                                <div class="widget-title">
                                    <h4>RECENT POST</h4>
                                </div>
                                <ul>
                                    <li>
                                        <div class="sidebar-post-thumb">
                                            <figure>
                                                <a href="#"><img src="/blogasset/images/recent-post/1.jpg" alt="image"></a>
                                            </figure>
                                        </div>
                                        <div class="widget-content">
                                            <h6><a href="#">This is a post title here</a></h6>
                                            <span>
                                                <i class="fa fa-calendar"></i> 18 April, 2017  | <i class="fa fa-comment"></i>
                                                2
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar-post-thumb">
                                            <figure>
                                                <a href="#"><img src="/blogasset/images/recent-post/2.jpg" alt="image"></a>
                                            </figure>
                                        </div>
                                        <div class="widget-content">
                                            <h6><a href="#">This is a post title here</a></h6>
                                            <span>
                                                <i class="fa fa-calendar"></i> 17 April, 2017  | <i class="fa fa-comment"></i>
                                                2
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar-post-thumb">
                                            <figure>
                                                <a href="#"><img src="/blogasset/images/recent-post/3.jpg" alt="image"></a>
                                            </figure>
                                        </div>
                                        <div class="widget-content">
                                            <h6><a href="#">This is a post title here</a></h6>
                                            <span>
                                                <i class="fa fa-calendar"></i> 16 April, 2017  | <i class="fa fa-comment"></i>
                                                2
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar-post-thumb">
                                            <figure>
                                                <a href="#"><img src="/blogasset/images/recent-post/4.jpg" alt="image"></a>
                                            </figure>
                                        </div>
                                        <div class="widget-content">
                                            <h6><a href="#">This is a post title here</a></h6>
                                            <span>
                                                <i class="fa fa-calendar"></i> 15 April, 2017  | <i class="fa fa-comment"></i>
                                                2
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar-post-thumb">
                                            <figure>
                                                <a href="#"><img src="/blogasset/images/recent-post/5.jpg" alt="image"></a>
                                            </figure>
                                        </div>
                                        <div class="widget-content">
                                            <h6><a href="#">This is a post title here</a></h6>
                                            <span>
                                                <i class="fa fa-calendar"></i> 14 April, 2017  | <i class="fa fa-comment"></i>
                                                2
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- / END RECENT POSTS DESIGN AREA -->
                            <!-- START NEWSLETTER DESIGN AREA -->
                            <div class="right-sidebar sidebar-search">
                                <div class="widget-title">
                                    <h4>NEWSLETTER</h4>
                                </div>
                                <form class="news-letter-form" novalidate>
                                    <div class="sidebar-search-form">
                                        <input required="" name="your_email" placeholder="Enter Your Email" type="text">
                                        <input value="GO" class="search-btn" type="submit">
                                        <p class="newsletter-success"></p>
                                        <p class="newsletter-error"></p>
                                    </div>
                                </form>
                            </div>
                            <!-- / END NEWSLETTER DESIGN AREA -->
                            <!-- START INSTAGRAM DESIGN AREA -->
                            <div class="right-sidebar widget-instagram-area">
                                <div class="widget-title">
                                    <h4>INSTAGRAM</h4>
                                </div>
                                <ul class="sidebar-tags-list">
                                    <li><figure><a href="#"><img src="/blogasset/images/instagram/1.jpg" height="80" width="80" alt="img" class="img-responsive"></a></figure></li>
                                    <li><figure><a href="#"><img src="/blogasset/images/instagram/2.jpg" height="80" width="80" alt="img" class="img-responsive"></a></figure></li>
                                    <li><figure><a href="#"><img src="/blogasset/images/instagram/3.jpg" height="80" width="80" alt="img" class="img-responsive"></a></figure></li>
                                    <li><figure><a href="#"><img src="/blogasset/images/instagram/4.jpg" height="80" width="80" alt="img" class="img-responsive"></a></figure></li>
                                    <li><figure><a href="#"><img src="/blogasset/images/instagram/5.jpg" height="80" width="80" alt="img" class="img-responsive"></a></figure></li>
                                    <li><figure><a href="#"><img src="/blogasset/images/instagram/6.jpg" height="80" width="80" alt="img" class="img-responsive"></a></figure></li>
                                </ul>
                            </div>
                            <!-- / END INSTAGRAM DESIGN AREA -->
                            <!-- START CATEGORY DESIGN AREA -->
                            <div class="right-sidebar sidebar-categories-area">
                                <div class="widget-title">
                                    <h4>POST CATEGORIES</h4>
                                </div>
                                <ul>
                                    <li class="cat-item"><a href="#">Motivational <span>(10)</span></a></li>
                                    <li class="cat-item"><a href="#">Sports <span>(18)</span></a></li>
                                    <li class="cat-item"><a href="#">Travel <span>(14)</span></a></li>
                                    <li class="cat-item"><a href="#">Lifestyle <span>(9)</span></a></li>
                                    <li class="cat-item"><a href="#">Recipesal <span>(15)</span></a></li>
                                    <li class="cat-item"><a href="#">Hobby <span>(7)</span></a></li>
                                </ul>
                            </div>
                            <!-- / END CATEGORY DESIGN AREA -->
                            <!-- START TAG DESIGN AREA -->
                            <div class="right-sidebar sidebar-tags-area last">
                                <div class="widget-title">
                                    <h4>TAG CLOUD</h4>
                                </div>
                                <ul class="sidebar-tags-list">
                                    <li><a href="#">Recipesal</a></li>
                                    <li><a href="#">Hobby</a></li>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Life Style</a></li>
                                    <li><a href="#">Insider</a></li>
                                    <li><a href="#">Outsider</a></li>
                                </ul>
                            </div>
                            <!-- / END TAG DESIGN AREA -->
                        </div>
                    </div>
                    <!-- / END SIDEBAR CONTENT DESIGN AREA -->
                </div>
            </div>
        </div>
    </div>
</section>