ul.pagination {
    display: -webkit-inline-box;
}

.pager-container {
    text-align: right;
}

ul.pagination > li > a, ul.pagination > li.active > span {
    padding: 10px 20px;
    background: #a43eb7;
    margin-left: 10px;
    margin-right: 10px;
    color: #ccc3c3;
    border-radius: 3px;
    cursor: pointer;
}

ul.pagination > li.active > span {
    color: white;
    font-weight: bold;
    background: #853294 !important;
    cursor: default !important;
}

ul.pagination > li.active > a:hover {
    background: #853294 !important;
    color: white !important;
}

ul.pagination > li.disabled > a {
    pointer-events: none;
    color: #c3c3c3;
    background: #756284;
}

.dropdown-menu .dropdown-item p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}


.dropdown-menu .dropdown-item {
    cursor: pointer;
}

.dropdown-menu .dropdown-item, .dropdown-menu li > a {
    color: #777072;
}

.align-top-right {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 999;
}

.btn .material-icons {
    font-size: 20px !important;
    font-weight: bold;
    left: 0px;
    margin-right: 10px;
}

treeview ul {
    list-style: none;
}

.table-responsive button {
    width: 150px;
    text-align: center;
}


@media (min-width: 1000px) {
    .modal-dialog {
        max-width: 800px !important;
    }
}


@media (min-width: 1500px) {
    .modal-dialog {
        max-width: 1000px !important;
    }
}


.role-permission > label {
    pointer-events: none;
    font-style: italic;
}

    .role-permission > label:before {
        background-color: #cecece !important;
        border-color: #909090 !important;
    }

.role-permission > input {
    pointer-events: none;
}

.checkbox:not(.role-permission) label {
    color: #9b33b2 !important;
}

ul {
    list-style: none;
}


a.nav-link {
    position: relative;
}

span.open-icon {
    position: absolute;
    right: 0;
    top: 10px;
}

a.nav-link[aria-expanded="true"] .open-icon > .close-nav {
    display: none;
}

a.nav-link[aria-expanded="false"] .open-icon > .open-nav {
    display: none;
}

.action-area {
    width: 100%;
    padding: 10px 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.default-align {
    display: flex !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

    .default-align > * {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: solid 1px #d2d2d2 !important;
    padding-bottom: 6px !important;
    box-sizing: content-box !important;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow > b {
        margin-left: 6px !important;
    }

span.field-validation-error {
    color: red;
    box-sizing: content-box !important;
}

@media (min-width: 1500px) {
    div#confirmModal .modal-dialog {
        width: 500px !important;
    }
}

treeview {
    display: block;
}

th.sortable {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

    th.sortable:after {
        background: url(../img/sort_both.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right;
        content: '';
        position: absolute;
        right: 20px;
        width: 8px;
        height: 23px;
    }

    th.sortable:hover {
        background-color: #fefcff;
    }

th.sort-asc:after {
    background-image: url(../img/sort_asc.png);
}

th.sort-desc:after {
    background-image: url(../img/sort_desc.png);
}

ul#treeview-childs-15 {
    padding: 20px !important;
    margin-top: 0px;
}

.sidebar[data-color="purple"] li.active > a {
    background-color: #9c27b0 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4) !important;
    color:white !important;
}

@media(min-width:1500px) {
    .dtp-content {
        max-width: 1200px!important;
    }
}

@media(max-width:1500px) {
    .dtp-content {
        max-width: 70% !important;
    }
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #83389f;
}

.dtp div.dtp-date, .dtp div.dtp-time {
    background: #924ac3;
}

.dtp .p10 > a {
    color: #5e389f;
}

.dtp .dtp-actual-meridien a.selected {
    background: #4e389f;
}

.dtp table.dtp-picker-days tr > td > a.selected {
    background: #544ac3;
}


circle.dtp-select-hour[fill="#8BC34A"], circle.dtp-select-minute[fill="#8BC34A"] {
    fill: #ab61be !important;
}

line.hour-hand, line.minute-hand {
    stroke: #b98fd9 !important;
}


div#dtp-svg-clock {
    height: 250px;
}

svg.svg-clock {
    height: 100%;
}